<mat-grid-list
    class="deck"
    rowHeight="200px"
    [cols]="breakpoint"
    (window:resize)="onResize($event)"
>
    <mat-grid-tile
        *ngFor="let card of selectedCards"
        [ngClass]=""
        class="card {{'card-'+ card.suit}}"
    >
        {{ cards[card.suit][card.value] }}
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list
    class="deck"
    rowHeight="200px"
    [cols]="breakpoint"
    (window:resize)="onResize($event)"
>
    <mat-grid-tile
        *ngFor="let card of deck"
        [ngClass]=""
        class="card {{'card-'+ card.suit}}"
    >
        {{ cards[card.suit][card.value] }}
    </mat-grid-tile>
</mat-grid-list>
