.deck
    top: 50px
    
.card
  font-family: 'Apple Symbols'
  font-size: 800%
  flex: 1 0 auto
  &-spades
      color: #011627
  &-hearts
      color: #E71D36
  &-clubs
      color: #2EC4B6
  &-diamonds
      color: #FF9F1C
  &-selected
      font-size: 1000%
      border-color: red;
